<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
      tools:ignore="GoogleAppIndexingWarning">
      <meta-data
        android:name="com.kakao.vectormap.APP_KEY" android:value="8aa8fdccefb37c43577edcf3c5e5c7ae"/>
    </application>
</manifest>
